service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.spes
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

on post-fs-data
    mkdir /data/vendor/fpc 0777 system system
    mkdir /data/vendor/goodix 0777 system system

on boot
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all

    chmod 0777 /dev/goodix_fp

on property:vendor.fps_hal.restartimes=max
    stop vendor.fps_hal
