allow cameraserver property_socket:sock_file write;
allow cameraserver init:unix_stream_socket connectto;
set_prop(cameraserver, exported_system_prop);
