# Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_q6_pdr audio_q6_notifier audio_snd_event audio_apr audio_adsp_loader audio_q6 audio_native audio_usf audio_pinctrl_lpi audio_swr audio_swr_ctrl audio_platform audio_stub audio_wcd_core audio_lct_pinctrl audio_aw87xxx audio_wcd9xxx audio_bolero_cdc audio_va_macro audio_rx_macro audio_tx_macro audio_mbhc audio_wcd937x audio_wcd937x_slave audio_pm2250_spmi audio_rouleur audio_rouleur_slave audio_machine_bengal
    write /proc/sys/kernel/sched_boost 1

on init
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    #Moving to init as this is needed for qseecomd
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on fs
    start hwservicemanager
    mount_all /vendor/etc/fstab.qcom --early
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    chmod 0664 /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/sconfig
    chmod 0666 /sys/class/thermal/thermal_message/temp_state
    chown system system /sys/class/thermal/thermal_message/temp_state

on late-fs
    wait_for_prop hwservicemanager.ready true
    exec_start wait_for_keymaster
    mount_all /vendor/etc/fstab.qcom --late

on post-fs-data
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    mkdir /data/vendor/wlan_logs 0770 system wifi
    restorecon_recursive /mnt/vendor/persist/rfs/msm/mpss
    restorecon_recursive /mnt/vendor/persist/rfs/msm/mpss/lctoem.tmp
    restorecon_recursive /mnt/vendor/persist/rfs/msm/mpss/server_check.txt
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/msm
    chown vendor_rfs vendor_rfs /mnt/vendor/persist/rfs/msm/mpss

    # Fingerprint
    mkdir /data/vendor/fpc 0777 system system
    mkdir /data/vendor/goodix 0777 system system

     # Camera duacal calibration
    mkdir /mnt/vendor/persist/camera
    chown root system /mnt/vendor/persist/camera
    chmod 0777 /mnt/vendor/persist/camera
    chmod 0644 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0644 /mnt/vendor/persist/camera/rear_dc_cal_wu.bin

    # M376 add for saving files of TP selftest
    mkdir /data/vendor/touchpad
    chown system system /data/vendor/touchpad
    chmod 0775 /data/vendor/touchpad

    # M376 add for cit lcdtest
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

    # Charger
    chmod 0664 /sys/class/power_supply/battery/input_suspend
    chmod 0664 /sys/class/power_supply/battery/battery_charging_enabled
    chmod 0664 /sys/class/power_supply/usb/typec_cc_orientation
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/battery_charging_enabled
    chown system system /sys/class/power_supply/usb/typec_cc_orientation

    # Dolby
    mkdir /data/vendor/dolby 0770 media media
    mkdir /data/vendor/multimedia 0775 system system

on boot
    #touch funtions permissions setting
    chown system system /sys/class/touch/touch_dev/palm_sensor
    chmod 0664 /sys/class/touch/touch_dev/palm_sensor

    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chmod 0666 /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/class/drm/card0-DSI-1/mipi_reg
    chmod 0664 /sys/class/drm/card0-DSI-1/mipi_reg
    chown system system /sys/class/drm/card0-DSI-1/panel_info
    chmod 0444 /sys/class/drm/card0-DSI-1/panel_info
    chown system system /sys/class/drm/card0-DSI-1/doze_brightness
    chown system system /sys/class/drm/card0-DSI-1/doze_backlight

    # Fingerprint
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0777 /dev/goodix_fp

    # Governor settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1516000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 1344000
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1344000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 120

    # DT2W
    chown system system /proc/tp_gesture
    chmod 0664 /proc/tp_gesture

    # USB controller configuration
    setprop vendor.usb.rndis.func.name "gsi"
    setprop vendor.usb.rmnet.func.name "gsi"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.qdss.inst.name "qdss"
    setprop vendor.usb.controller 4e00000.dwc3

    # Load WLAN driver
    insmod /vendor/lib/modules/qca_cld3_wlan.ko

    # Sensors
    start vendor.sensors

    # Vibrator
    chmod 0660 /sys/class/leds/vibrator/state
    chmod 0660 /sys/class/leds/vibrator/duration
    chmod 0666 /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/activate

    # Load exfat driver
    insmod /vendor/lib/modules/exfat.ko

on boot && property:persist.vendor.usb.controller.default=*
    setprop vendor.usb.controller ${persist.vendor.usb.controller.default}

on property:vendor.usb.controller=*
    setprop sys.usb.controller ${vendor.usb.controller}

on charger
    chown system system /sys/class/backlight/panel0-backlight/brightness
    setprop persist.sys.usb.config mass_storage
    setprop sys.usb.configfs 1
    setprop vendor.usb.controller 4e00000.dwc3
    start mi_thermald
    start vendor.power_off_alarm
    start vendor.qcom-post-boot

on property:init.svc.vendor.charger=running
    # Keep one LITTLE and one BIG
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

service vendor.pd_mapper /vendor/bin/pd-mapper
    class core
    user system
    group system
    task_profiles ServiceCapacityLow

service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4
    task_profiles ServiceCapacityLow

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled
    task_profiles ServiceCapacityLow

service vendor.mdm_launcher /vendor/bin/sh /vendor/bin/init.mdm.sh
    class core
    oneshot

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

service vendor.displayfeature /vendor/bin/displayfeature
    class late_start
    user root
    group root
    task_profiles ServiceCapacityLow
    disabled

on property:init.svc.surfaceflinger=stopped
    stop vendor.displayfeature

on property:init.svc.surfaceflinger=running
    start vendor.displayfeature

on property:init.svc.surfaceflinger=restarting
    stop vendor.displayfeature

on property:sys.boot_completed=1
    # Read only one page at a time
    write /proc/sys/vm/page-cluster 0
    # Swap more aggressively
    write /proc/sys/vm/swappiness 180
    # Set zRAM compression algorithm to LZ4
    write /sys/block/zram0/comp_algorithm lz4
    # Enable zRAM data deduplication feature
    write /sys/block/zram0/use_dedup 1
    # Mount swap partitions specified in fstab
    swapon_all /vendor/etc/fstab.zram
    write /proc/sys/vm/vfs_cache_pressure 50

on property:ro.boot.hwversion=*
    setprop vendor.boot.hwversion ${ro.boot.hwversion}

on property:vendor.fps_hal.restartimes=max
    stop vendor.fps_hal

# TouchPad settings
on property:sys.tp.grip_enable=0
    write /proc/tp_grip_area 0
on property:sys.tp.grip_enable=1
    write /proc/tp_grip_area 1
on property:sys.tp.grip_enable=90
    write /proc/tp_grip_area 90
on property:sys.tp.grip_enable=180
    write /proc/tp_grip_area 180
on property:sys.tp.grip_enable=270
    write /proc/tp_grip_area 270
